@tailwind base;
@tailwind components;
@tailwind utilities;
input[type="range"] {
    accent-color: white;
  }

  textarea{
    outline: none;
  }
  .editscroll::-webkit-scrollbar {
    width: 6px;
  }

  .editscroll::-webkit-scrollbar-track {
    background: transparent;
  }

  .editscroll::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 3px;
  }

  .editscroll::-webkit-scrollbar-thumb:hover {
    background: #888;
  }

  html{
    scroll-behavior: smooth;
  }